/*banner desing*/
.banner-contianer{
                    width: 1440px;
                    height: 652px;
                    margin: 0 auto;
                    background-image: url("/assets/Hero-bg.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;  
}
.banner-contant{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
   
}
.banner-contant h2{
                    color: rgb(13, 19, 33);
                    font-family: Azeret Mono;
                    font-size: 48px;
                    font-weight: 800;
                    line-height: 68px;
                    text-align: center;
}
.banner-contant p{
                    color: rgb(13, 19, 33);
                    font-family: Azeret Mono;       
                    text-align: center;
}
.banner-contant img{
                    width: 300px;
                    height: 300px;
}
.banner-contant button{
                    width: 208px;
                    height: 66px;
                    border-radius: 8px;
                    background: rgb(13, 19, 33);
                    color:rgb(255, 255, 255)
}
/* banner 2 desing*/
.banner2{
                    
                    margin: 0 auto;             
                    width: 1140px;
                    height: 1393px;
                    border-radius: 16px;
                    background-color: rgba(13, 19, 33, 0.02);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; 
                    margin-top: 50px; 
                  
}

.text h2{
                    color: rgb(13, 19, 33);
                    font-size: 48px;
                    font-weight: 800;
                    line-height: 68px;
                    text-align: center;
                    margin: 24px 0px;
}
.text p{
                    color: rgb(13, 19, 33);
                    font-family: Azeret Mono;  
                    text-align: center; 
                   
                   
                  
}

#video1{             
                    position: static;
                    width: 1076px;
                    height: 520px;
                    flex: none;
                   
}         
.banner3{
                    position: static;
                    width: 1140px;
                    height: 614px;
                    padding: 32px;   
                    box-sizing: border-box;
                    border: 1px solid rgba(13, 19, 33, 0.2);
                    border-radius: 16px;
                    margin: 0 auto;
}
#version{
                 
                    position: static;
                    width: 1140px;
                    height: 460px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0 auto;
                    margin-top: 30px;
                    display: flex;
                    flex-direction: row;

}
#apple{
                    width: 364px;
                    height: 299px;
                    border-radius: 16px;
                    background: rgba(255, 76, 30, 0.05);
}

#apple1{            width: 364px;
                    height: 299px;
                    border-radius: 16px;
                    background: rgba(0, 76, 232, 0.05);

}
#apple2{             width: 364px;
                    height: 299px;
                    border-radius: 16px;
                    background: rgba(255, 223, 0, 0.05);
                  

}
.math{        
                    width: 1140px;
                    height: 300px;
                    display: flex;
                    flex-direction: row;
                    margin: 0 auto;
                  
}
.set{               width: 1140px;
                    height: 219px;
                    background-color: bisque;
                    box-sizing: border-box;
                    border-radius: 16px;
                    margin: 0 auto;
                    margin-top: 10px;}
.bor{              
                    float: left;
}
#bord{
                   
                    display: flex;
                    flex-direction: column; 
                    margin: 16px 0px;
}
.bork{ width: 1140px;
                    height: 314px;
                    left: 150px;
                    right: 150px;
                    top: 4752px;
                    bottom: 179px;
                    border-radius: 16px;
                    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
                    margin: 0 auto;
                    background-image: url("/assets/handshake.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover; 
                    margin-top: 30px; 
}
.bork{
                    display: flex;
                   flex-direction: column;
                    justify-content: center;
                    align-items: center;}
.baby,h3{color: rgb(255, 255, 255);
                    font-family: Azeret Mono;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 36px;
                    letter-spacing: 0%;
                    text-align: center;

}
.baby,h5{
                    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
